
<mat-card class="main-card">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Waller People</mat-card-title>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <ng-template ngFor let-item [ngForOf]="employees" let-i="index">
            <mat-card class="sub-card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>{{item.displayname}}</mat-card-title>
                        <mat-card-subtitle>{{item.title}}</mat-card-subtitle>
                    </mat-card-title-group>    
                </mat-card-header>
            </mat-card>
        </ng-template>
    </mat-card-content>
</mat-card>
