/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.basic-container {
    padding: 30px;
  }
  .main-card {
    padding: 20px;
    margin: 20px;
 }
  .sub-card {
    max-width: 400px;
    margin-bottom: 20px;
 }

 control-messages div {
  color: #E82C0C;
  margin: 6px 0;
}
